* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', sans-serif;
  background-color: white;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: black;
  color: white;
}

.relative {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: transparent;
  overflow: hidden;
}

.bg-black {
  background-color: black;
}

.text-white {
  color: white;
}

#about-me-placeholder {
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}

.logo-img {
  width: 40px;
  height: 40px;
}

.about-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
}

.name-header .texthover:hover {
  color: #69B3A2;
}


.separator.dark-mode {
  background-color: white;
}


.intro-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 10;
}

.intro-text {
  text-align: center;
  font-size: 1rem;
  margin-top: 20px;
}

.transition {
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .name-header {
    font-size: 1.5rem;
  }

}


.name-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem; 
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 1; 
}

.separator {
  height: 6px;
  width: 90%;
  margin: 20px auto; 
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; 
  margin: 10px 0px;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.social-icon img {
  width: 50%; 
  height: 50%;
}

.backgroundBlack{
  background-color: black;
}

.backgroundWhite{
  background-color: white;
}

.colorBlack{
  color: black; 
}

.colorWhite{
  color: white; 
}

.xdimension{
  width: 40% !important;
  height: 40% !important;
}

.social-icon:hover{
  background-color: var(--green-calid);
}


.infoHome{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  margin-top: 300px;
}

.titleH2{
  font-weight: bold;
  padding: 60px 0px 40px 0px;
  text-align: center;
  font-size: 3rem;
  text-align: center;
}

/*Project*/

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.place-content-center {
  justify-content: center;
}

.gap-10 {
  gap: 20px;
}

.project {
  min-width: 300px;
  width: 40%;
  flex-direction: column;
  border-radius: 2rem;
  background-color: white;
  box-shadow: #69B3A2;
  color: black;
  transition: transform 0.3s;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-shadow-color: #69B3A2;
  --tw-shadow: var(--tw-shadow-colored);
  --tw-border-opacity: 1;
  border-color: rgb(220 221 222 / var(--tw-border-opacity));
  padding-bottom: 20px;
}

.imageProject:hover{
  transform: scale(1.05);
  border-radius: 2rem;
}


.image-container {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s ease-out;
}

.image-container img:hover {
  transform: scale(1.1);
}

.image-container img {
  mask-image: linear-gradient(to bottom, black 60%, transparent);
}

.image-container:hover img {
  transform: scale(1.1);
}

.project-info {
  padding: 20px;
  text-align: center;
}

.project-info h2 {
  font-size: 24px;
  font-weight: bold;
}

.project-info .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.project-info .social-media img {
  width: 24px;
  height: 24px;
}

.project-description {
  padding: 10px 0;
  color: #808080;
}

#projects-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}