/* Variables */
:root {
  --green-calid: #69B3A2;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.about-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-size: 2rem;
}

.hover-color {
  cursor: pointer;
  transition: color 0.3s ease;
}

.hover-color:hover {
  color: var(--green-calid);
}

.logo-img {
  width: 40px;
  height: 40px;
}

.separator {
  margin: 20px auto;
  height: 2px;
  width: 90%;
  background-color: black;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-icon {
  width: 40px;
  height: 40px;
  display: block;
}

.social-icon.github {
  background-image: url('/assets/icons/github.png');
  background-size: cover;
}

.social-icon.linkedin {
  background-image: url('/assets/icons/linkedin.png');
  background-size: cover;
}

.social-icon.twitter {
  background-image: url('/assets/icons/x.png');
  background-size: cover;
}

.intro-text {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
}
